{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'style/login/login.css' %}">
{% endblock %}
{% block body %}
<div class="login-container">
    <h1>Se connecter</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-input">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-input">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Connexion</button>
    </form>
    <a href="{% url 'signup' %}">Pas encore inscrit ?</a>
</div>

{% endblock %}