.body {
    & .formations-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        gap: 4rem;

        & h1 {
            text-align: center;
            width: 100%;
        }
        & .ajouter-formation {
            padding: .35rem .6rem;
            border-radius: 15px;
            border: solid 1px #3ec2ff;
            transition: .25s;
            background: #3ec2ff;
            color: #ffffff;

            &:hover {
                color: #000000;
                background: none;
            }
        }
        & .formations {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            width: 100%;

            & .formation {
                border: solid 1px #bdbdbd;
                border-radius: 10px;
                transition: .15s;
                box-shadow: 0 0 5px #ddd;
                width: 100%;
                min-height: 10rem;
                
                & .top {
                    padding: .5rem 1.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: solid 1px #ddd;

                    & a {
                        padding: .35rem .6rem;
                        border-radius: 15px;
                        border: solid 1px #ff0000;
                        transition: .25s;
                        background: none;
                        color: #ff0000;

                        &:hover {
                            color: #ffffff;
                            background: #ff0000;
                        }
                    }
                }
                & .description {
                    padding: .5rem;
                    text-align: justify;
                }
            }
        }
    }
}