.body {
    & .add-formation {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            margin-bottom: 3rem;
        }
        & form.add-formation-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            & .form-input {
                display: grid;
                grid-template-columns: 13rem 20rem;
                margin: .5rem;
                align-items: center;

                & input, select, textarea {
                    border: solid 1px #ddd;
                    background: none;
                    box-shadow: 0 0 3px #ddd;
                    border-radius: 5px;
                    height: 2rem;
                    width: 20rem;
                    padding: .25rem;
                    
                    &[type=file] {
                        border: none;
                        box-shadow: none;
                    }
                }
                & textarea {
                    height: 6rem;
                }
                &.hide-input {
                    display: none;
                }

                & .countdown-char {
                    margin-top: .25rem;
                    font-weight: 300;
                    font-size: .8rem;
                }
            }
            & button {
                margin: 0 2rem;
                padding: .5rem 1rem;
                border-radius: 20px;
                border: solid 1px #2cbafc;
                transition: .25s;
                background: #3ec2ff;
                color: #ffffff;
                margin-top: 1rem;
                font-size: 1.25rem;

                &:hover {
                    color: #000000;
                    background: none;
                }
            }
        }
        & a {
            font-size: .85rem;
            font-weight: 300;
            margin-top: 1.5rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
